on: [push]
name: Run Test Cases
jobs:
  test-on-mac:
    runs-on: macos-10.15
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
      - name: Run Cases
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 22
          script: |
            ./gradlew connectedCheck
            ./gradlew build
            ./gradlew :library:createDebugAndroidTestCoverageReport --info --stacktrace
            ./gradlew connectedAndroidTest  --info --stacktrace
      - name: Upload coverage.txt
        run: |
          bash <(curl -s https://codecov.io/bash)
